@media screen and (max-width: 1200px) {

    .hotel {
        width: 43%;
    }
}


@media screen and (max-width: 1050px) {

    .hotels-marseille, .hotels-popular {
        flex: 1;
    }

    /**************** Hébergements à Marseille : 1050px ****************/
    .bloc-accommodations {
        flex-direction: column-reverse;
        flex-wrap: nowrap;
        padding-left: 0;
        padding-right: 0;
    }

    .hotels-marseille {
        background-color: white;
        padding: 20px 10px 10px 10px;
    }

    .hotel {
        width: 100%;
    }

    /**************** Les plus populaires : 1050px *****************/
    .hotels-popular {
        margin-left: 0;
        border-radius: 0%;
    }
}


@media screen and (max-width: 993px) {

    /**************** Le header : 993px ***************/
    .logo-nav {
        display: flex;
        flex-direction: column;
    }

    .logo {
        display: block;
    }

    .logo a {
        display: flex;
        justify-content: center;
    }

    .img-logo {
        width: 40%;
        display: flex;
        justify-content: center;
        padding-left: 0;
        padding-right: 0;
    }

    .navigation-top {
        display: block;
        width: 100%;
    }

    .ul-top li {
        width: 100%;
        display: block;
    }

    a.list-top {
        border-top: none;
        border-bottom: #f2f2f2 solid 2px;
        font-weight: normal;
    }

    .homes-styles,.act-styles {
        border-top: none;
        border-bottom: #f2f2f2 solid 2px;
        font-weight: normal;
        }
    
    a.list-top:hover {
        border-top: none;
        border-bottom-color: #0065fc;
    }

    a.list-top.home-styles {
        border-bottom-color: #0065fc;
    }

    /************ Texte de présentation du site : 993px ************/
    .presentation-site {
        padding-top: 20px;
    }

    /******************* Les filtres : 993px *******************/
    .filters {
        padding-left: 30px;
        padding-right: 30px;
    }

    .filters h3 {
        padding-left: 0;
        padding-right: 0;
    }

    .filters button {
        border-radius: 40px;
        margin-bottom: 20px;
    }

    /******************* Information : 993px *****************/
    .fa-info { 
        padding: 10px 16px 10px 16px;
    }

    /*************** Les plus populaires : 993px ***************/
    .hotels-popular {
        padding: 20px 35px 20px 30px;
    }

    .favorite {
        height: 256px;
        border-radius: 40px;
    }

    .images { 
        width: 260px;
        height: 250px;
        border-radius: 40px 0 0 40px;
    }

    .txt {
        padding-left: 30px;
        padding-right: 30px;
    }

    /************** Hébergement à Marseille : 993px *************/
    .hotels-marseille {
        padding-left: 20px;
        padding-right: 20px;
    }
    .hotel {
        border-radius: 40px;
    }
    
    .contenu-hotel {
        padding-left: 30px;
        padding-right: 30px;
    }
    
    .contenu-hotel h3 {
        padding-bottom: 10px;
    }
    .image {
        height: 200px;
        border-radius: 40px 40px 0 0;
    }

    .contenu-hotel > .grey,.blue {
        padding-bottom: 15px;
    }

    /************** Activités à Marseille : 993px *************/
    .city-activities {
        padding-left: 20px;
        padding-right: 20px;
    }

    .city-activities a img {
        border-radius: 40px 40px 0 0;
        min-height: 260px;
    }

    .places-marseille {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .city-activities .img-tall {
        width: 100%;
    }

    .places-marseille a {
        border-radius: 40px;
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 35px;
    }

    .img-rezise { 
        min-height: 100px;
        max-height: 200px;
    }

    /******************* Le footer : 993px *******************/
    footer {
        margin-top: 20px;
    }

    .footer-nav {
        width: 100%;
        padding-bottom: 25px;
    }
}


@media screen and (max-width: 871px) {
    
    .filters h3 {
        width: 100%;
    }

    .filters button {
        margin-left: 0;
        margin-right: 20px;
    }
}

@media screen and (max-width: 810px) { 

    /**************** Présentation du site : 810px **************/
    .presentation-site {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-right: 30px;
        padding-left: 30px;
    }

    .presentation-site h1 {
        margin-bottom: 0;
    }
    
    /******************** Formulaire : 810px *******************/
    .desktop-search {
        display: none;
    }

    .mobile-search {
        display: flex;
        border-radius: 16px;
        margin-left: -11px;
        font-size: 17px;
    }

    /******************* Les filtres : 810px *******************/
    .filters button {
        margin-right: 30px;
    }

    /******************* Information : 810px ******************/
    .info {
        padding-left: 45px;
        padding-right: 45px;
    }

    .fa-info { 
        margin-right: 10px;
    }

    /*************** Les plus populaires : 810px ***************/
    .images {
        width: 150px;
        height: auto;
    }

    .hotels-popular {
        padding: 20px 10px;
    }

}

@media screen and (max-width: 783px) {

    .filters button {
        margin-bottom: 10px;
    }
}


@media screen and (max-width: 681px) {

    a.list-top {
        padding-left: 30px 10px;
    }

    .info {
        padding-left: 25px;
        padding-right: 25px;
    }
}

@media screen and (max-width: 400px) {

    /******************** Formulaire : 400px *******************/
    .form {
        display: flex;
        justify-content: center;
    }

    .country {
        width: 200px;
    }

    /***************** Le footer : 400px **********************/
    .footer {
        padding-bottom: 0;
    }

    .footer-nav {
        padding-right: 0;
    }
}

@media screen and (max-width: 330px) {

    /****************** Présentation du site : 330px *******************/
    .presentation-site {
        padding-left: 15px;
        padding-right: 15px;
    }

    /******************** Formulaire : 330px *******************/
    .form {
        padding: 10px 10px 30px 10px;
    }

    .country {
        width: 170px;
    } 
}

@media screen and (max-width: 300px) {

    /********************** Le menu : 300px ***********************/
    a.list-top {
        padding-left: 10px 10px;
        font-size: 14px;
    }

    /******************** Formulaire : 300px *******************/
    .country {
        width: 130px;
    } 

    /***************** Les plus populaires : 300px ******************/
    .txt {
        padding-left: 10px;
        padding-right: 10px;
    }

    .images {
        width: 100px;
        height: auto;
    }
}


