@media screen and (max-width: 1200px) {

    .hotel {
        width: 43%;
    }
}


@media screen and (max-width: 1050px) {

    .hotels-marseille, .hotels-popular {
        flex: 1;
    }

    /**************** Hébergements à Marseille ****************/
    .bloc-accommodations {
        flex-direction: column-reverse;
        flex-wrap: nowrap;
        padding-left: 0;
        padding-right: 0;
    }

    .hotels-marseille {
        background-color: white;
        padding: 20px 10px 10px 10px;
    }

    .hotel {
        width: 100%;
    }

    /**************** Les plus populaires *****************/

    .hotels-popular {
        margin-left: 0;
        border-radius: 0%;
    }
}


@media screen and (max-width: 993px) {

    h2 {
        font-size: 35px;
    }

    .blue,.grey {
        font-size: 23px;
    }

    /**************** Le header ***************/
    .logo-nav {
        display: flex;
        flex-direction: column;
    }

    .logo {
        display: block;
    }

    .logo a {
        display: flex;
        justify-content: center;
    }

    .img-logo {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
        padding-left: 0;
        padding-right: 0;
    }

    .navigation-top {
        display: block;
        width: 100%;
    }

    .ul-top li {
        width: 100%;
        display: block;
    }

    a.list-top {
        border-top: none;
        border-bottom: #f2f2f2 solid 2px;
        font-weight: normal;
    }

    .homes-styles,.act-styles {
        font-size: 35px;
        border-top: none;
        border-bottom: #f2f2f2 solid 2px;
        font-weight: normal;
        }
    
    a.list-top:hover {
        border-top: none;
        border-bottom-color: #0065fc;
    }

    a.list-top.home-styles {
        border-bottom-color: #0065fc;
    }

    /************ Texte de présentation du site ************/
    .presentation-site {
        padding-top: 20px;
    }

    .presentation-site h1 {
        font-size: 35px;
    }

    .presentation-site p {
        font-size: 30px;
    }

    /**************** Formulaire ****************/

    .country {
        font-size: 32px;
        padding: 25px 0 25px 23px;
    }
    
    .desktop-search {
        font-size: 30px;
        padding: 27px 22px 27px 22px;
    }

    .fas.fa-map-marker-alt { 
        font-size: 35px;
        padding: 27px 30px 27px 30px;
        border-radius: 25px 0 0 25px;
    }

    .fa-search {
        font-size: 32px;
    }

    /******************* Les filtres *******************/
    
    .filters {
        padding-left: 30px;
        padding-right: 30px;
    }
    .filters h3 {
        font-size: 34px;
    }

    .filters button {
        font-size: 32px;
        padding: 0 30px 0 0;
        border-radius: 40px;
        margin-bottom: 20px;
    }

    .fa-heart, .fa-dog {
        font-size: 30px;
        padding: 25px;
    }

    .fa-money-bill-wave {
        font-size: 32px;
        padding: 23px 20px 23px 20px;
    }

    .fa-child {
        font-size: 32px;
        padding: 23px 27px 23px 27px;
        width: 100%;
    }

    /******************* Information *****************/
    .info p {
        font-size: 30px;
    }

    .fa-info { 
        font-size: 20px;
        padding: 10px 16px 10px 16px;
    }

    /*************** Les plus populaires ***************/
    .hotels-popular {
        padding: 20px 35px 20px 30px;
    }

    .fas.fa-chart-line { 
        font-size: 38px;
    }

    .favorite {
        height: 256px;
        border-radius: 40px;
    }

    .images { 
        width: 260px;
        height: 250px;
        border-radius: 40px 0 0 40px;
    }

    .txt {
        padding-left: 30px;
        padding-right: 30px;
    }

    .txt h3 {
        font-size: 30px;
    }

    .txt p {
        font-size: 25px;
    }

    /************** Hébergement à Marseille *************/
    .hotels-marseille {
        padding-left: 20px;
        padding-right: 20px;
    }
    .hotel {
        border-radius: 40px;
    }
    
    .contenu-hotel {
        padding-left: 30px;
        padding-right: 30px;
    }
    
    .contenu-hotel h3 {
        font-size: 30px;
        padding-bottom: 10px;
    }

    .contenu-hotel p {
        font-size: 25px;
    }

    .image {
        height: 200px;
        border-radius: 40px 40px 0 0;
    }

    .contenu-hotel > .grey,.blue {
        padding-bottom: 15px;
    }

    .txt-show a {
        font-size: 30px;
    }

    /************** Activités à Marseille *************/
    .city-activities {
        padding-left: 20px;
        padding-right: 20px;
    }

    .city-activities a img {
        border-radius: 40px 40px 0 0;
        min-height: 260px;
    }

    .places-marseille {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .places-marseille h3 {
        font-size: 30px;
    }

    .city-activities .img-tall,.img-small {
        width: 100%;
    }

    .places-marseille a {

        border-radius: 40px;
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 35px;
    }

    .img-port, .img-calanques { 
        min-height: 100px;
        max-height: 200px;
    }

    /******************* Le footer *******************/
    footer {
        margin-top: 20px;
    }

    .footer-nav {
        width: 100%;
        padding-bottom: 25px;
    }

    .footer-nav h3 {
        font-size: 30px;
    }

    .footer-list li {
        font-size: 27px;
        line-height: 55px;
    }
}


@media screen and (max-width: 871px) {
    
    .filters h3 {
        width: 100%;
    }

    .filters button {
        margin-left: 0;
        margin-right: 20px;
    }
}


@media screen and (max-width: 821px) {
    
    body {
        width: 100%;
    }
}


@media screen and (max-width: 810px) { 

    /******************** Le header *******************/
    .img-logo {
        width: 60%;
    }

    .homes-styles,.act-styles {
        font-size: 30px;
    }

    /**************** Présentation du site**************/
    .presentation-site {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-right: 55px;
        padding-left: 55px;
    }

    .presentation-site h1 {
        font-size: 40px;
        margin-bottom: 0;
    }

    .presentation-site p {
        font-size: 35px;
    }
    
    /******************** Formulaire *******************/
    .form {
        padding: 0;
    }

    form {
        display: flex;
        justify-content: center;
    }

    .desktop-search {
        display: none;
    }

    .mobile-search {
        display: flex;
        border-radius: 15px;
        margin-left: -11px;
    }

    .mobile-search {
        padding: 28px 30px 28px 30px;
        border-radius: 25px;
    }

    /******************* Information ******************/
    .info {
        padding-left: 45px;
        padding-right: 45px;
    }

    .fa-info { 
        margin-right: 10px;
    }

    .info p {
        font-size: 25px;
        padding-right: 75px;
    }

    /******************* Les filtres *******************/
    .filters {
        padding-left: 60px;
        padding-right: 60px;
    }

    .filters h3 {
        font-size: 35px;
    }

    .filters button {
        font-size: 25px;
        margin-right: 30px;
    }

    .fa-heart, .fa-dog {
        padding: 23px;
    }

    .fa-money-bill-wave {
        font-size: 30px;
    }

    .fa-child {
        font-size: 30px;
    }

    /*************** Les plus populaires ***************/
    .txt h3 {
        font-size: 20px;
    }

   /************** Hébergement à Marseille *************/
    .contenu-hotel h3 {
        font-size: 20px;
    }

    /*************** Activités à Marseille **************/
    .places-marseille h3 {
        font-size: 20px;
    }

}


@media screen and (max-width: 800px) {
    
    .img-logo {
        margin-bottom: 0;
    }
}


@media screen and (max-width: 783px) {

    .filters button {
        margin-bottom: 10px;
    }
}


@media screen and (max-width: 681px) {

    body {
        width: 100%;
    }

    form {
        width: 70%;
    }
}

@media screen and (min-width: 681px) and (max-width:620px) {

    body {
        width: 100%;
    }
}

@media screen and (min-width: 400px) and (max-width:620px) {

    body {
        width: 100%;
    }
}

@media screen and (min-width: 280px) and (max-width:400px) {

    body {
        width: 100%;
    }
}



